---
import Layout from '../layouts/Layout.astro';
import SocialBar from '../components/SocialBar.astro';
import BlogPreview from '../components/blog/BlogPreview.astro';
import ProjectPreview from '../components/blog/ProjectPreview.astro';
import PhotoMosaic from '../components/PhotoMosaic.astro';
import styles from '../styles/pages/index.module.scss';
import { getAllTags, getFeaturedPosts } from '../utils/posts';
import { getFeaturedProjects } from '../utils/projects';
import TagList from '../components/blog/TagList.astro';

const featuredPosts = getFeaturedPosts();
const featuredProjects = getFeaturedProjects();
const tags = getAllTags();
---

<Layout
  title="Mission Mike | Developer Log"
  description="Michael Dinerstein is a software developer and graphic artist residing in the Pacific Northwest."
>
  <div class="d-flex justify-content-center">
    <div class={styles.index} style="max-width: 1200px;">
      <div class="row" data-aos="fade-in">
        <div class="col">
          <h1 class={styles.h1}>
            missionmike<span class={styles.suffix}>.dev</span>
          </h1>
          <span class={styles.subtitle}>
            software engineer on a mission to <br />
            innovate, inspire &amp; iterate
          </span>
          <SocialBar />
        </div>
      </div>
      <div class="row">
        <div class="col-lg d-flex flex-column justify-content-center">
          <span class={styles.h2} data-aos="fade-in">Featured Project:</span>
          <ProjectPreview project={featuredProjects[0]} />
        </div>
        <div class="col-lg d-flex flex-column justify-content-center">
          <span class={styles.h2} data-aos="fade-in">Featured Blog Post:</span>
          <BlogPreview post={featuredPosts[0]} />
        </div>
        <div class="row mt-2 mb-5" data-aos="fade-in">
          <div>
            <br />
            <h2 class={styles.h2}>Tags &amp; Categories</h2>
            <TagList tags={tags} animate={true} />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2 class={styles.h2}>Life at Mission Mike HQ</h2>
            <PhotoMosaic />
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .subtitle {
      @media (max-width: 768px) {
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  </style>
</Layout>
