---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import SocialBar from '../components/SocialBar.astro';
import BlogPreview from '../components/blog/BlogPreview.astro';
import styles from '../styles/pages/index.module.scss';
import { getAllPosts, getAllTags } from '../utils/posts';

const latestPost = getAllPosts()[0];
const tags = getAllTags();
---

<Layout
  title="Mission Mike | Developer Log"
  description="Michael Dinerstein is a software developer and graphic artist residing in the Pacific Northwest."
>
  <div class="d-flex justify-content-center">
    <div class={styles.index} style="max-width: 1200px;">
      <div class="row">
        <div class="col">
          <h1 class={styles.h1}>
            missionmike<span class={styles.suffix}>.dev</span>
          </h1>
          <span class={styles.subtitle}>
            software engineer on a mission to <br />
            innovate, inspire &amp; iterate
          </span>
          <SocialBar />
          <div class={styles.imageFrame}>
            <div class="image-wrapper">
              <Image
                src="/static/images/family-gaming.jpg"
                alt="Photo of Mission Mike playing videogames with his three children. Sitting at a computer desk with a green screen behind them."
                width={800}
                height={600}
                class="w-100 h-100 object-fit-cover"
              />
            </div>
            <p>Work hard, play hard!</p>
          </div>
        </div>
        <div class="col-lg d-flex flex-column justify-content-center">
          <div>
            <span class={styles.h2}>Latest post:</span>
            <BlogPreview post={latestPost} />
          </div>
          <div>
            <br />
            <h2 class={styles.h2}>Tags &amp; Categories</h2>
            {
              tags.map((tag) => (
                <a href={`/blog/tag/${tag}`} class={styles.tagLink}>
                  {tag}
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .image-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .object-fit-cover {
    object-fit: cover;
  }
</style>
