---
type Post = {
  title: string;
  date: string;
  excerpt: string;
  path: string;
  tags?: string[];
  featuredImage?: string;
};

const { post } = Astro.props as { post: Post };
const truncatedExcerpt =
  post.excerpt.length > 150 ? post.excerpt.slice(0, 150) + '...' : post.excerpt;
---

<a href={post.path} class="text-decoration-none">
  <div class="card h-100">
    {
      post.featuredImage && (
        <div class="card-img-top aspect-ratio-16-9">
          <img
            src={`/static/images/${post.featuredImage}`}
            alt={post.title}
            class="w-100 h-100 object-fit-cover"
          />
        </div>
      )
    }
    <div class="card-body">
      <h2 class="card-title h5">
        {post.title}
      </h2>
      <p class="card-text text-muted small">
        {
          new Date(post.date).toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
          })
        }
      </p>
      <p class="card-text">{truncatedExcerpt}</p>
      {
        post.tags && post.tags.length > 0 && (
          <div class="mt-2 tag-container">
            {post.tags.map((tag: string) => (
              <a href={`/blog/tag/${tag.toLowerCase()}`} class="tag-link">
                {tag}
              </a>
            ))}
          </div>
        )
      }
    </div>
  </div>
</a>

<style>
  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }
  .card {
    transition: transform 0.2s ease-in-out;
  }
  a:hover .card {
    transform: translateY(-5px);
  }
  .card-title {
    color: #333;
  }
  a:hover .card-title {
    color: #333;
  }
  .card-img-top {
    overflow: hidden;
    position: relative;
  }
  .aspect-ratio-16-9 {
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (9/16 = 0.5625) */
  }
  .aspect-ratio-16-9 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-img-top img {
    transition: transform 0.3s ease-in-out;
  }
  a:hover .card-img-top img {
    transform: scale(1.05);
  }
  .tag-container {
    position: relative;
    z-index: 1;
  }
  .tag-link {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: #495057;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .tag-link:hover {
    background-color: #343a40;
    color: #fff;
    transform: translateY(-1px);
  }
</style>
